name: test

service:
  name: frontend-template
  type: ClusterIP
  port: 3000

image:
  repository: pachipico/frontend-template
tag: 'cfc167e'

replicaCount: 1

global:
  #  configMapName: dev-configmap
  activeProfile: local
  #  discoveryUrl: http://spring-cloud-kubernetes-discoveryserver:80
  logPath: /root/logs